<%-include("../partials/nav")%>


<body>
  <form action method="post" class="form_r">
    <div class="register_container">
      <div class="f_form">
        <h1 class="register"><%= title %></h1>
      <label id="titulo">Correo</label><br>
      <input class="input_form" type="email" name="correo_usuario" required><br>
      <label id="titulo">Nombre de Usuario</label><br>
      <input class="input_form" type="text"  name="nombre_usuario" required><br>
      <label id="titulo">Cédula</label><br>
      <input class="input_form" type="text"  name="cedula_usuario" required><br>
      <label id="titulo">Contraseña</label><br>
      <input class="input_form" type="password"  name="clave_usuario"><br>

      <input type="submit" class="button" value="Registarse">
      </div>
     
    </div>
    <div class="sumb">
    
    </div>
</form>
</body>