<head>    <script src="/javascript/config.js"></script></head>
<div class="background" id="backg" onclick="closeDisclaimer()" >
    <div class="disclaimer">
        <h1>DISCLAIMER</h1>
        <img class="imgD" id="imgID" onclick="closeDisclaimer()" src="/images/disclaimerimg.png" alt="Advertencia" >
        <p class="pDisclaimer">La siguiente página web es un ejemplo de como se realizaría una web sobre un campeonato de robots llevado a cabo por la Universidad Valle del Momboy. Esta actividad ha sido realizada por los estudiantes de cuarto trimestre de Ingeniería en Computación para la materia BackEnd cabe resaltar que todo el parecido que se pueda encontrar con otras webs, es porque han servido de inspiración y ha sido con propositos meramentes educativos, sin afán de plagio puesto a que no es un producto comercial.</p>
</div>
</div>

<script>
    function closeDisclaimer() {
      document.getElementById('backg').style.display = 'none';
        }
  </script>
  
  