<head><link rel="stylesheet" href="/stylesheets/footer.css"></head>

<footer>
    <div class="footer-container">
    <p>&copy; Universidad Valle del Momboy</p>
    <ul>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms of Use</a></li>
    </ul>
    </div>
    </footer>