<head>
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/error.css' />
    <link rel='stylesheet' href='/stylesheets/disclaimer.css' />
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lato:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet"> 
</head>

<nav class="main_nav">
   <div class="container">
    <img class="logo" src="/images/logo.png" alt="">
    <h2 class="h2nav">Campeonato de Robótica UVM</h2>
   </div>
    <ul class="list_ul">
        <li class="list_ul_li"><a href="/home">Home</a></li>
        <li class="list_ul_li"><a href="/home/login">Iniciar Sesión</a></li>
        <li class="list_ul_li"><a href="/home/register">Registrate</a></li>
    </ul>
</nav>