  <body>
    <%-include("partials/disclaimer")%>
    <%-include("partials/nav")%>
    <main class="mainIndex">
      <div class="container_index">
        <div class="h1_container">
          <h1>Campeonato de robotica UVM</h1>
        </div>
        <div class="img_container">
          <img class="imgIndx" src="/images/ROBOTICA01-1024x1024.png" alt="">
        </div>
      </div>
    </main>
    <%-include("partials/footer")%>
  </body>
</html>
