<body>
    <%-include("partials/datetime")%>
    <%-include("partials/navTime")%>
    <h1>Hello</h1>
<!--     <script> 
        setTimeout(() => {
            alert("Retrasado por 1 segundo.");
        }, "1000");

    </script> -->
    <%-include("partials/footer")%>
  </body>
</html>
