.mostrar_container{
    width: 60vw;
    height: 45vh;
    margin: 100px auto;
    overflow: auto;
    background-color: rgba(4, 110, 52, 0.24);
    padding: 30px;
    font-family: 'Open Sans', sans-serif;

}

.boxes{
    width: 600px;
    display: inline-block;

}

.boxes h2{
    margin: 20px auto;
}

.boxes li{
    margin: 5px auto;
}

hr{
    margin: 15px auto;
    color: #000;
}