*{
    margin: 0;
    padding: 0;
}

.main_nav{
    background-color: hsl(158.2, 38.7%, 39%);
    margin: 0;
    padding: 25px;
    display: block;
    position: relative;
    user-select: none;
}

.logo{
    max-width: 100px;
}

.h2nav{
    color:rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    font-size: 1.8rem;
    bottom:35px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    user-select: none;
}

.container{
    display: inline-block;
    margin-left: 50px;
}


.main_nav ul{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    position: relative;
    top: 40px;

}

.main_nav ul li {
    width: 250px;
    position: relative;
    display: inline-block;
    margin: 30px;
    font-size: 1.3rem;
    font-weight: bold;
}

a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.main_nav ul li a:hover {
    text-decoration:underline;
}

#welcome{
    text-decoration: none;
    user-select: none;
    margin-top: 50px;
}

/* Menú lateral */
.nav-lateral {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: hsl(158.2, 38.7%, 39%);
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }
  
  .nav-lateral-ul {
    position: relative;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: #fff;

  }
  
  .nav-lateral-li {
    position: relative;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    color: #fff;

  }
  
  .nav-lateral-li a {
    text-decoration: none;
    margin: 30px;
  }
  
  .nav-lateral-li:hover {
    background-color: #eee;
  }
  
  #Cerrar_sesion {
    background-color: #ff5733; 
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #000;
    border: none;
    width: 300px;
    height: 50px;
    cursor: pointer;
  }

  #Cerrar_sesion:hover {
    background-color: #f87f65; 
    cursor: pointer;
  }